/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
  }
/* univesal style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #3a3a3a;
}
.d-flex{
    display: flex;
}
.btn-primary{
    background-color: #e02c6d;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    padding: 15px 20px;
    font-weight: 700;
}
.link-style{
    text-decoration: none;
    color: white;
}
/* nav section styles start here */
.navbar{
    margin: 30px 120px;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
}
.navbar-nav{
    gap: 25px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}
/* hero-image section start here */
.hero-image-section{
    margin: 60px 120px;
    color: var(--color-primary);
}
.hero-image-container{
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.hero-title{
    font-size: 45px;
    font-weight: 700;
}
.hero-description{
    font-weight: 600;
    max-width: 550px;
}
.hero-btn{
    margin: 20px 0px;
}
.hero-btn a > i{
    padding: 0px 10px;
}
.hero-image{
    background-image: url(./images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    max-width: 450px;
}
.hero-image img{
    width: 100%;
}
/* sponsor section style start here */
.sponsor-section{
    margin: 60px 120px;
}
.sponsor-container{
    justify-content: space-around;
    align-items: center;
    justify-items: center ;
}
.sponsor-image{
    max-width: 85px;
}
.sponsor-image img{
    width: 100%;
}
/* collection section styles start here */
.collection-section{
    margin: 40px 150px;
}
.collection-cards-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
}
.collection-title{
    font-size: 28px;
    font-weight: 600;
    color: var(--color-primary);
    text-align: center;
    margin: 30px auto;
}
.collection-card{
    max-width: 300px;
    box-shadow: 4px 8px 20px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 8px;
}
.card-title{
    font-size: 28px;
    font-weight: 500;
    color: #18191f;
    padding: 10px 0px;
}
.card-sub-title{
    font-size: 24px;
    font-weight: 400;    
}
.card-description{
    font-size: 14px;
    font-weight: 700;
    color: #787885;
    margin: 10px 0px;
}
.card-image{
    max-width: 280px;
}
.card-image img{
    width: 100%;
}
.collection-btn-container{
    text-align: right;
    padding-right: 10px;
}
.collection-btn{
    background-color: transparent;
    border: none;
    margin: 20px 0px;
}
.collection-btn a{
    color: #e02c6d;
    font-size: 16px;
    font-weight: 700;
}
/* feature section styles start here */
.feature-section{
    margin: 70px 120px;
}
.feature-container{
    align-items: center;
    gap: 40px;
}
.feature-title{
    font-size: 32px;
    font-weight: 700;
    color: #0a0826;
}
.feature-description{
    font-weight: 700;
    color: #6c6c6c;
    margin: 20px 0px;
}
.feature-btn{
    border-radius: 5px ;
}
.feature-btn a i{
    padding: 0px 5px;
}
/* footer section styles start here */
.footer-container{
    background-color: #0a0826;
    color: white;
    padding: 40px 20px;
    max-height: 400px ;
    text-align: center;
}
.footer-title{
    font-size: 24px;
    font-weight: 700;
}
.footer-description{
    font-size: 14px;
    font-weight: 700;
    margin: 10px 0px;
}
.footer-icons{
    gap: 20px;
    justify-content: center;
    margin: 20px 0px;
}
.footer-icon{
    list-style: none;   
}
.footer-icon a i{
    font-size: 24px;
}

/* responsive design for mobile phone or small device */
@media screen and (max-width:576px) {
     
    /* nav style start here */
    .navbar{
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }
    /* hero-image section start here */
    .hero-image-section{
        margin: 50px 20px;
    }
    .hero-image-container{
        flex-direction: column-reverse;
    }
    .hero-content{
        text-align: center;
    }
    .hero-title{
        font-size: 30px;
        margin: 25px;
    }
    /* sponsor section style start here */
    .sponsor-section{
        margin: 60px 20px;
    }
    .sponsor-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    }
    /* collection section styles start here */
    .collection-section{
       margin: 40px 20px;
    }
    .collection-cards-container{
       grid-template-columns: repeat(1,1fr);
       column-gap: 20px;
       
    }
    .collection-card{
        max-width: 350px;
        margin: 0 auto;
    }
    .card-image{
        max-width: 330px;
    }
    .collection-btn-container{
        padding-right: 30px;
    }
    /* feature section styles start here */
    .feature-section{
       margin: 50px 20px;
       text-align: center;
    }
    .feature-container{
       flex-direction: column-reverse;
    }
    
}
/* responsive design for medium device or tablet */
@media screen and (min-width:577px) and (max-width:992px) {

    /* nav style start here */
    .navbar{
        flex-direction: column;
        margin: 50px;
        gap: 30px;
    }
    /* hero-image section start here */
    .hero-image-section{
        margin: 50px 60px;
    }
    .hero-image-container{
        flex-direction: column-reverse;
    }
    .hero-content{
        text-align: center;
    }
    .hero-content p{
        margin: 0 auto;
    }
    /* sponsor section style start here */
    .sponsor-section{
        margin: 60px 50px;
    }
    .sponsor-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
        align-items: center;
        justify-content: center;
        gap: 20px;
        
    }
    /* collection section styles start here */
    .collection-section{
        margin: 40px 50px;
     }
     .collection-cards-container{
        grid-template-columns: repeat(2,1fr);
        column-gap: 20px;
        
     }
     .collection-card{
         margin: 0 auto;
     }
     
     /* feature section styles start here */
    .feature-section{
        margin: 60px 50px;
        text-align: center;
     }
     .feature-container{
        flex-direction: column-reverse;
     }
    
}