/* google font import link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

.poppins-font {
    font-family: "Poppins", sans-serif;
  }
/* univesal style  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --color-primary: #3a3a3a;
}
.d-flex{
    display: flex;
}
/* nav section styles start here */
.navbar{
    margin: 30px 120px;
    justify-content: space-between;
    align-items: center;
    color: var(--color-primary);
}
.navbar-brand{
    font-size: 24px;
    font-weight: 700;
}
.navbar-nav{
    gap: 25px;
}
.nav-item{
    list-style: none;
}
.nav-link{
    text-decoration: none;
    color: var(--color-primary);
    font-weight: 600;
}

/* responsive design for mobile phone or small device */
@media screen and (max-width:576px) {

    /* nav style start here */
    .navbar{
        flex-direction: column;
        margin: 20px;
        gap: 30px;
    }
    
}
/* responsive design for medium device or tablet */
@media screen and (min-width:577px) and (max-width:992px) {

    /* nav style start here */
    .navbar{
        flex-direction: column;
        margin: 50px;
        gap: 30px;
    }
    
}